<div class="col-md-4 col-sm-6">
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title
                            and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.bg-light -->
</div> <!-- /.col -->
