{% extends "base.html.twig" %}

{% block title %}Rédiger un article{% endblock %}

{#
    Pour le rendu de l'editeur WYSIWYG on utilise Jodit
    cf. https://xdsoft.net/jodit/docs/docs/getting-started.html
#}

{% block stylesheets %}
    {{ parent() }} {# Permet de garder le contenu du parent #}
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/jodit@latest/es2021/jodit.fat.min.css"
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# Permet de garder le contenu du parent #}
    <script
        src="https://cdn.jsdelivr.net/npm/jodit@latest/es2021/jodit.fat.min.js">
    </script>
    <script>
        Jodit.make('#post_content');
    </script>
{% endblock %}

{% block body %}
    <main>
        <!-- Titre de la page -->
        <div class="p-3 mx-auto text-center">
            <h1 class="display-4">Rédiger un article</h1>
        </div>

        <!-- Contenu de la page -->
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto">
                        {{ form(form, {'attr': {'novalidate':'novalidate'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
